.Checkbox {
  opacity: 1;
  display: flex;
  align-items: center;
}

.Checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.Checkbox input + label {
  display: inline-block;
  border-radius: 2px;
  background-color: var(--gray-3);
  padding: 0.875em;
  transition: 300ms all;
}

.Checkbox label:active {
  box-shadow: 0 0 0 0.3em var(--primary-4);
}

.Checkbox input:checked + label {
  background-color: var(--primary-3);
  background-image: url(check-mark.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.Checkbox span {
  font-weight: var(--w-medium);
  font-size: 0.875em;
  color: var(--gray-2);
  margin-left: 0.9375em;
}
